/* 
###TEMPORARY DIAGNOSTIC OUTLINE###
* {
  outline: 1px solid rgb(255, 81, 241);
}
*/

.app-container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.dashboard-content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.widget-grid {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax (280px, 1fr));
}

.species-card {
  background-color: rgb(73, 0, 92);
  padding: 1rem;
  border: 1px solid rgb(247, 0, 247, 0.3);
  text-align: left;
}

.species-card img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}

.sidebar {
  flex: 1;
  flex-direction: column;
}
